<div class="w-full max-w-md space-y-8">
  <!-- Title -->
  <h1 class="text-3xl font-bold text-gray-900">Create a New Password</h1>

  <!-- Subtitle -->
  <p class="text-gray-600">
    Create a new strong password for your account.
  </p>

  <!-- Form -->
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <!-- New Password Field -->
    <app-auth-input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" label="New Password"
      placeholder="Enter new password" [control]="newPassword!"></app-auth-input>

    <!-- Confirm New Password Field -->
    <app-auth-input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" label="Confirm New Password"
      placeholder="Confirm new password" [control]="confirmPassword!"
      [externalError]="resetPasswordForm.errors?.['passwordMismatch'] && confirmPassword?.touched"
      externalErrorMessage="Passwords do not match"></app-auth-input>

    <!-- Reset Password Button -->
    <app-submit-button type="submit" buttonText="Reset Password" loadingText="Resetting password..."
      [isLoading]="isLoading" [disabled]="resetPasswordForm.invalid"></app-submit-button>
  </form>

  <!-- Create Account Link -->
  <app-auth-link text="Don't have an account?" linkText="Create yours" [linkRoute]="['/auth/register']"></app-auth-link>
</div>